<h1>{{model.identifier}}</h1>

{{pokemon-name-form submit="submit" reset="reset"}}

<h2>
  {{#each model.types as |type|}}
    {{type.identifier}}
  {{/each}}
</h2>

<h3>
  {{#each model.abilities as |ability|}}
    {{ability.identifier}}
  {{/each}}
</h3>
