$knotred: #bf2a31;
$charcoal: #4e4e4e;
$lightgray: #ddd;
$white: #fff;
$black: #000;

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}
