$knotred: #bf2a31;
$orange: #ffa500;
$green: #008000;
$teal: #008080;
$darkblue: #00008b;
$purple: #800080;
$charcoal: #4e4e4e;
$lightgray: #ddd;
$white: #fff;
$black: #000;

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}
