body {
  background: $lightgray;
  font-family: $font-family;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 0 70px;
  text-transform: capitalize;
}

a {
  color: $green;
}

.app-title {
  background-color: shade($lightgray, 20);
  color: $knotred;
  font-size: 3 * $font-size;
  text-align: center;
}

.navbar {
  background: $black;
}

.btn {

  // text-shadow: .1em .1em $black, -.1em -.1em $black, -.1em .1em $black, .1em -.1em $black;
}

.breakdown-name {
  color: blue;
}

.breakdown-type {
  font-weight: 800;
  margin: 40px 0 25px;
}

.pokemon-button {
  color: $white;
  margin: 10px 0;
}

.add-pokemon-button {
  color: $charcoal;
}

.pokemon-button-0 {
  background: $knotred;
}

.pokemon-button-1 {
  background: $orange;
}

.pokemon-button-2 {
  background: $green;
}

.pokemon-button-3 {
  background: $teal;
}

.pokemon-button-4 {
  background: $darkblue;
}

.pokemon-button-5 {
  background: $purple;
}

.bar-wrap {
  position: relative;
}

.progress-marker {
  width: 3px;
  height: 40px;
  position: absolute;
  bottom: -5px;
}

.progress-marker-0 {
  background: $knotred;
  transform: rotate(60deg);
}

.progress-marker-1 {
  background: $orange;
  transform: rotate(-60deg);
}

.progress-marker-2 {
  background: $green;
  transform: rotate(40deg);
}

.progress-marker-3 {
  background: $teal;
  transform: rotate(-40deg);
}

.progress-marker-4 {
  background: $darkblue;
  transform: rotate(20deg);
}

.progress-marker-5 {
  background: $purple;
  transform: rotate(-20deg);
}

.progress-marker-team {
  background: $white;
  border: 2px solid $black;
  height: 50px;
  width: 6px;
}

.time-axis {
  color: $charcoal;
  display: block;
  float: left;
  width: 100%;
}

.time-spot {
  display: block;
  float: left;
  width: 12.5%;
}

.time-spot-end {
  display: block;
  float: left;
  width: 6.25%;
}
