
<div class="container-fluid">
  <div class="row">
    <div class="bar-wrap">
      <div class="progress no-extra-space"></div>
      <div style="right:{{efficacy.barMark}}%" class="progress-marker progress-marker-team"></div>
    </div>
  </div>
  <div class="row">
    <div class="time-axis">
      <div class="time-spot-end">0</div>
      <div class="time-spot text-center">1/8</div>
      <div class="time-spot text-center">1/4</div>
      <div class="time-spot text-center">1/2</div>
      <div class="time-spot text-center">1</div>
      <div class="time-spot text-center">2</div>
      <div class="time-spot text-center">4</div>
      <div class="time-spot text-center">8</div>
      <div class="time-spot-end text-right"></div>
    </div>
  </div>
</div>
