<div class="welcome">
  <div>
    <h1 class="app-title">Destiny Knot</h1>
  </div>
  <div class="col-md-8 col-md-offset-2 intro-paragraph">
    <p>
      Do you need to find a partner for your favorite Pokemon? Want to find your
      team's most glaring weakness?
    </p>
    <p>
      Whether you want to check the synergy of your existing team or find a partner
      to patch up your weaknesses, Destiny Knot provides the tools need to improve
      your win percentage. Future releases will include matchmaking capabilities,
      defensive analysis, and even a new metric for assessing team synergy.
    </p>
    <p>
      Sign up to create a team now!
    </p>
  </div>
</div>
