{{input type="text"
      id="team-name"
      placeholder="Team Name"
      value=name
}}

<button type="submit" class="btn btn-primary" {{action "editName"}}>
  Edit
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
