<h1>{{model.name}}</h1>
<ul>
{{#each model.pokemons as |pokemon|}}
<li>{{pokemon.identifier}}</li>
{{/each}}
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    {{navbar-footer team=model}}
  </div>
</nav>
