<div class="col-md-8 col-md-offset-2">
  {{#link-to 'team.breakdown'}}<h1>{{model.name}}</h1>{{/link-to}}

  {{#if model.isEditable}}
  <div class="container">
    <div class="col-md-6">
      {{manipulate-team team=model editName='editName' deleteTeam='deleteTeam'}}
    </div>
  </div>
  {{/if}}


  {{outlet}}

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      {{navbar-footer team=model addPokemon='addPokemon'}}
    </div>
  </nav>
</div>
