{{#link-to 'team.breakdown'}}<h1>{{model.name}}</h1>{{/link-to}}

{{#if model.isEditable}}
  {{manipulate-team team=model editName='editName' deleteTeam='deleteTeam'}}
{{/if}}

{{outlet}}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    {{navbar-footer team=model addPokemon='addPokemon'}}
  </div>
</nav>
