<div class="col-md-8 col-md-offset-2">
  <h2>Teams</h2>
  {{create-team createTeam='createTeam'}}

  {{#each model as |team|}}
    {{#link-to 'team.breakdown' team}}
    <div class="team-card">
      <h3>{{team.name}}</h3>
      <h4>{{team.teamMembers.length}} Pokemon</h4>
    </div>
    {{/link-to}}
  {{/each}}

</div>
